@import "../../assets/styles/mixins";


.Header{
	background-color: var(--black);
	padding: rem(15) 0;
	margin-bottom: rem(20);
}

.Header__wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
